RewriteEngine On
#RewriteBase /
# Adicionar o barra (/) no final do endereço URL
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond    %{HTTP_HOST} !^\. [NC]
RewriteRule    ^(.+[^/])/$ https://%{HTTP_HOST}/$1 [R=301,L]
AddType application/x-httpd-php .html .htm 
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTP_HOST} ^www\.(.*)
#RewriteRule (.*) http://%1/$1 [R=301,L]
#RewriteCond %{HTTP_HOST} !^www\.primordialleoralclinic\.com\.br
#RewriteRule (.*) http://www.primordialleoralclinic.com.br/$1 [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^home$ index.php  
RewriteRule ^blog/([a-zA-Z-0-9-_]+)$ desc-blog.php?id=$1
# RewriteRule ^blog/([a-zA-Z-0-9-_]+)/amp$ desc-blog.php?id=$1&formato=amp
RewriteRule ^blog$ blog.php
RewriteRule ^sobre$ sobre.php
RewriteRule ^servicos$ servicos.php
RewriteRule ^servicos/psicoterapia$ servico.php
RewriteRule ^servicos/terapia-de-casal$ servico2.php
RewriteRule ^servicos/psicoterapia-familiar$ servico3.php
RewriteRule ^servicos/terapia-empresarial$ servico4.php
# RewriteRule ^blog-pagina-([0-9]+)$ blog.php?pagina=$1
RewriteRule ^contato$ contato.php  
RewriteRule ^catalogo$ catalogo.php 
# RewriteRule ^site/eventos$ desc-servico.php
RewriteRule ^especialistas$ especialistas.php
RewriteRule ^lojas$ projetos.php
RewriteRule ^especialista/([a-zA-Z-0-9-_]+)$ desc-especialista.php?id=$1
RewriteRule ^site/lojas/([a-zA-Z-0-9-_]+)$ servicos.php?id=$1
RewriteRule ^site/loja/([a-zA-Z-0-9-_]+)$ desc-projetos.php?id=$1

RewriteRule ^categoria/([a-zA-Z-0-9-_]+)$ desc-categoria.php?id=$1



RewriteRule ^busca$ busca.php

RewriteRule ^sucesso$ sucesso.php
RewriteRule ^360$ 360.php
RewriteRule ^sitemap.xml$ sitemap.xml
RewriteRule ^robots.txt$ robots.txt
RewriteRule ^painel/$ painel
ErrorDocument 404 erros/404.php
ErrorDocument 500 erros/500.php
ErrorDocument 403 erros/403.php

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 month"
ExpiresByType text/html "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##

<ifModule mod_headers.c>   
Header unset ETag
</ifModule>
FileETag None
